<div class="flex items-center gap-4 w-full">

  <mat-form-field appearance="outline" class="flex-1" subscriptSizing="dynamic">
    <mat-label>Pesquisar CPUs</mat-label>
    <input
      matInput
      type="text"
      placeholder="Ex: SKU (BX8071513700K) ou Nome Comercial"
      (input)="aoDigitar($event)"
      #filtroInput
    >
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>

  <mat-checkbox (change)="aoMudarIndisponiveis($event.checked)">
    Mostrar Somente Indisponíveis
  </mat-checkbox>

</div>
