<form (ngSubmit)="cadastrar()" [formGroup]="tecnologiaForm">
    <div class="grid grid-cols-3 gap-4">
      <div class="">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" />
        </mat-form-field>
        <mat-error>{{ nomeCtrl.errors |  fieldError:nomeCtrl.touched }}</mat-error>
      </div>

      <div class="col-span-2">
        <mat-form-field >
          <mat-label>Descrição</mat-label>
          <input matInput formControlName="descricao" />
        </mat-form-field>
        <mat-error>{{ descricaoCtrl.errors |  fieldError:descricaoCtrl.touched }}</mat-error>
      </div>


      <div class="acoes-formulario col-start-2 flex justify-end">
        <button type="reset" matButton="elevated">Cancelar</button>
        <button type="submit" matButton="filled" [disabled]="tecnologiaForm.invalid">Adicionar</button>
      </div>


      </div>

</form>
