<div class="p-6 h-full flex flex-col">

  <div class="mb-6 pb-4 border-b border-gray-200 flex justify-between items-start flex-wrap gap-4">
    <div>
      <h1 class="text-2xl font-bold text-gray-900">Gerência de Cupons de Desconto</h1>
      <p class="text-sm text-gray-500 mt-1">Crie e administre códigos promocionais para os clientes.</p>
    </div>

    <button mat-flat-button color="primary" class="shrink-0 h-[48px]" (click)="abrirModalFormulario()">
      <mat-icon>add</mat-icon> Adicionar Cupom
    </button>
  </div>

  <app-cupom-table
    [cupons]="cuponsResponse()?.dados ?? []"
    [total]="cuponsResponse()?.total ?? 0"
    [estaCarregando]="estaCarregando()"
    (mudancaPagina)="handleMudancaPagina($event)"
    (cupomDeletado)="handleRefresh()"
    (cupomAlteradoEstado)="handleRefresh()"
    (cupomEditado)="abrirModalFormulario($event)"
  />
</div>
