<mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
  <mat-label>Marca</mat-label>
  <mat-select [formControl]="control()">
    <mat-option>
      <ngx-mat-select-search
        [formControl]="filtroCtrl"
        placeholderLabel="Pesquisar marca..."
        noEntriesFoundLabel="Nenhuma marca encontrada">
      </ngx-mat-select-search>
    </mat-option>

    <mat-option [value]="null">Selecione...</mat-option>

    @for (m of marcasFiltradas(); track m.id) {
      <mat-option [value]="m.id">{{ m.nome }}</mat-option>
    }
  </mat-select>

  @if (control().errors && control().touched) {
    <mat-error>Campo obrigatório</mat-error>
  }
</mat-form-field>
