<div class="mat-elevation-z8 relative">

  <table mat-table [dataSource]="modelos()" matSort (matSortChange)="ordenar($event)">
    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef class="w-[160px] text-center"> Ações </th>

      <td mat-cell *matCellDef="let e" class="text-center whitespace-nowrap">
        <button mat-icon-button color="primary" [routerLink]="['/admin/modelo-cpu/editar', e.id]">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button (click)="alterarEstado(e, !e.ativo)">
          <mat-icon> {{ e.ativo ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="deletar(e)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </th>
      <td mat-cell *matCellDef="let e"> {{e.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="nomeMarca">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
      <td mat-cell *matCellDef="let e"> {{e.nomeMarca}} </td>
    </ng-container>

    <ng-container matColumnDef="tipoSocket">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Socket </th>
      <td mat-cell *matCellDef="let e"> {{e.tipoSocket}} </td>
    </ng-container>

    <ng-container matColumnDef="quantNucleos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Núcleos </th>
      <td mat-cell *matCellDef="let e"> {{e.quantNucleos}} </td>
    </ng-container>

    <ng-container matColumnDef="frequenciaMaxima">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Freq. Máx (GHz) </th>
      <td mat-cell *matCellDef="let e"> {{e.frequenciaMaxima | number:'1.0-2'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunas;" [ngClass]="{'opacity-50': !row.ativo}"></tr>
  </table>

  <mat-paginator
    [length]="total()"
    [pageSize]="10"
    [pageSizeOptions]="[5,10,20]"
    showFirstLastButtons
    (page)="paginar($event)"
  ></mat-paginator>

  @if (estaCarregando()) {
    <div class="absolute inset-0 bg-white/60 z-50 flex items-center justify-center">
      <mat-progress-spinner mode="indeterminate" diameter="50" color="primary"></mat-progress-spinner>
    </div>
  }
</div>
