<mat-drawer-container class="example-container relative" [hasBackdrop]="false">
  <mat-drawer #drawer mode="over" position="end" [disableClose]="true">
    <div class="px-6 py-4 border-b flex justify-between items-center bg-white sticky top-0 z-20">
      <h2 class="text-xl font-semibold text-gray-800">{{tecnologiaEmEdicao() !== null ? "Atualizar Tecnologia" : "Cadastrar Tecnologia"}}</h2>
      <button mat-icon-button (click)="drawer.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <app-tecnologia-form [inDrawer]="true" [(tecnologiaEmEdicao)]="tecnologiaEmEdicao" (tecnologiaCadastrada)="refreshTecnologias()" (tecnologiaAtualizada)="handleAtualizacao()"/>
  </mat-drawer>
  <mat-drawer-content>

    <div class="fixed bottom-10 right-20">
      <button
        mat-fab
        color="primary"
        class="z-10"
        (click)="drawer.open()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <app-tecnologia-filtro (filtroAlterado)="handlePesquisa($event)" (mostrarInativos)="handleMostrarInativos($event)"/>
    @if (tecnologiasResponse(); as resposta) {
      <app-tecnologia-table
        [tecnologias]="resposta.dados"
        [total]="resposta.total"
        (mudancaPagina)="handleMudancaPagina($event)"
        (tecnologiaDeletada)="handleDelecao($event)"
        (tecnologiaEditada)="handleEdicao($event, drawer)"
        (tecnologiaAlteradaEstado)="handleEstadoAlterado($event)"
        [tecnologiaEmEdicao]="tecnologiaEmEdicao()"/>

    }

  </mat-drawer-content>
</mat-drawer-container>

