mat-drawer {
  width: 20vw;
  border-left: 1px solid #d1d1d1;
  background-color: #fbfbfb;
  box-shadow: -5px 0 15px -5px rgba(0,0,0,0.2);
}


mat-drawer-content {
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
}
